:root {
  --dark: #061130;
  --blue: #1c4bc4;
  --light: #f4f6f8;
  --yellow: #fafd61;
}

body {
  margin: unset;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
}

header {
  padding: 1em 2em;
  align-items: center;
  justify-content: space-between;
}

main {
  color: var(--light);
  justify-content: space-between;
  padding: 5em;
  flex-grow: 1;
}

footer {
  color: var(--dark);
  padding-bottom: 3em;
}

.dark {
  background-color: var(--dark);
}

.yellow {
  color: var(--yellow);
}

.d-flex {
  display: flex;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.w-100 {
  width: 100%;
}

.pr {
  padding-right: 3em;
}

.info-link>a {
  text-decoration: unset;
  color: var(--light);
  margin-inline: 1em;
}

.info-link a:last-child {
  padding: .5em 1em;
  background-color: var(--blue);
  border-radius: 5px;
}

.page-link {
  justify-content: space-evenly;
  background-color: white;
}

.page-link>a {
  color: var(--blue);
  margin-block: 2em;
}

.footer-blurb {
  flex-direction: column;
  align-items: center;
}