:root {
  --dark: #061130;
  --blue: #1c4bc4;
  --light: #f4f6f8;
  --yellow: #fafd61;
}

body {
  margin: unset;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light);
}

header {
  padding: .5em 2em;
  align-items: center;
  justify-content: space-between;
}

main {
  color: var(--light);
  justify-content: space-between;
  padding: 5em;
  flex-grow: 1;
}

footer {
  color: var(--dark);
  padding-bottom: 3em;
}

.dark {
  background-color: var(--dark);
}

.yellow {
  color: var(--yellow);
}

.d-flex {
  display: flex;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.pr {
  padding-right: 3em;
}

.info-link>a {
  text-decoration: unset;
  color: var(--light);
  margin-inline: 1em;
}

.info-link a:last-child {
  padding: .5em 1em;
  background-color: var(--blue);
  border-radius: 5px;
  margin-inline-end: 0;
}

.page-link {
  text-align: center;
  justify-content: space-evenly;
  background-color: white;
}

.page-link>a {
  color: var(--blue);
  margin-block: 2em;
}

.footer-blurb {
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .info-link {
    display: flex;
    width: 60vw;
    font-size: 80%;
    align-items: center;
    text-align: center;
  }

  .info-link a:last-child {
    padding: .5em 0;
  }

  main {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em;
  }

  .w-50 {
    width: unset;
  }

  .pb {
    padding-bottom: 1.5em;
  }

  .footer-blurb {
    padding-inline: 1em;
    text-align: center;
  }

}